[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
requests = "*"
gunicorn = "*"
coinmarketcap = "*"
krakenex = "*"
pykrakenapi = "*"
gdax = "*"
python-bittrex = "*"

[requires]

python_version = "3.5"
